set tabstop=4 softtabstop=4
set shiftwidth=4
set smarttab
set expandtab
set smartindent
set ignorecase
set smartcase
set relativenumber
set nu
set nohlsearch
set hidden
set incsearch
set scrolloff=8
set nowrap
set ideajoin
set guicursor=a:block
set surround
set NERDTree
set multiple-cursors

let mapleader = " "
map <S-l> $
map <S-h> ^
noremap <C-x> :bd<CR>
nmap <C-x> <Action>(CloseContent)
nmap <C-S-x> <Action>(ReopenClosedTab)
nnoremap <leader>h <C-w>h
nnoremap <leader>l <C-w>l
nnoremap <leader>j <C-w>j
nnoremap <leader>k <C-w>k
nnoremap <leader>v :wincmd v<CR>
nnoremap <tab> :action NextTab<cr>
nnoremap <leader><tab> :action PreviousTab<cr>
vnoremap <leader>y "+y
nnoremap <leader>p "_dP
vnoremap <leader>c "+y
nmap <leader>f :NERDTreeFind<CR>
nmap <leader>r <Action>(RenameElement)
vmap <a-k> <Action>(MoveLineUp)
vmap <a-j> <Action>(MoveLineDown)

" goto stuff
nmap gn <Action>(GotoNextError)
nmap gp <Action>(GotoPreviousError)
nmap gt <Action>(GotoTest)
nmap gi <Action>(GotoImplementation)
nmap gr <Action>(GotoRelated)

" git
nmap <leader>gr <Action>(ChangesView.Revert)
vmap <leader>gr <Action>(Vcs.RevertSelectedChanges)
nmap <leader>gn <Action>(VcsShowNextChangeMarker)
nmap <leader>gp <Action>(VcsShowNextPrevMarker)

" rails specific
nmap <leader>rc <Action>(org.jetbrains.plugins.ruby.rails.actions.navigation.SwitchToController)
nmap <leader>rv <Action>(org.jetbrains.plugins.ruby.rails.actions.navigation.SwitchToView)
nmap <leader>rh <Action>(org.jetbrains.plugins.ruby.rails.actions.navigation.SwitchToHelper)
nmap <leader>rm <Action>(Rails.SwitchToModel)
